@import "../../../sass/smart-grid";

.header {
  &__site-logo {
    @media (max-width: $break_md) {
      max-width: 100px
    }
  }

  &__site-menu {
    @media (max-width: $break_md) {
      display: none;
    }
  }

  &__site-search {
    @media (max-width: $break_lg) {
      display: none;

      position: absolute;
      z-index: 99999;

      margin: 0;
      padding: 0 15px;

      top: 100px;
      right: 0;
      bottom: 0;
      left: 0;

      height: 50px;

      &:before {
        margin-left: 15px;
      }

      &_is-visible {
        display: block;
      }
    }
  }

  &__submit-search {
    @media (max-width: $break_lg) {
      display: block;
      margin-top: 15px;

      .button {
        width: 100%;
        display: block;

        font-size: 14px;
      }
    }
  }

  &__actions {
    @media (max-width: $break_md) {
      position: initial;
      margin-left: auto;
    }
  }

  &__action {
    &_search {
      @media (max-width: $break_lg) {
        display: flex;
      }
    }
  }
}
