@import "../../../sass/smart-grid";

.footer {
  @media (max-width: $break_md) {
    &__information {
      flex-direction: column-reverse;
      text-align: center;
    }

    &__copyright {
      margin-top: 15px;
      line-height: 150%;
    }

    &__site-navigation {
      flex-direction: column;
    }

    &__wrapper-route:not(:last-child) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}
