@import "../../../sass/_mixins/reset-button"
@import "../../../sass/_mixins/transition"
@import "../../../sass/variables"
@import "../../../sass/smart-grid"

.single-carousel
  position: relative
  height: 320px

  &__slide
    max-width: 170px
    width: 100%

    margin: 0 15px

  .flickity-button
    @include rest-button()

    width: 40px
    height: 100%

    color: $c-text

    border-radius: 0
    background-color: rgba($c-dark-blue, .7)

    @include transition()

    &.previous
      left: 0

    &.next
      right: 0

    &:focus,
    &:active
      opacity: 1
      background-color: rgba($c-dark-blue, .9)
