extends ./contains/default

block vars
    - const pageTitle="Главная"
    - const pageName="homepage"

block content
    include ../blocks/_parts/header/header
    include ../blocks/_sections/page-information/page-information
    include ../blocks/_sections/content-filtes/content-filters
    include ../blocks/_sections/hidden-content/hidden-content

    //#content-section
    div(class="content-section")
        include ../blocks/_sections/content-header/content-header
        +content-header({
            location: "#",
            heading: "Stream Beliebteste Filme und SerieTV"
        }, "36.272", true)

        div(class="content-grid")
            include ../blocks/single-item/single-item
            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/127473635/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8582889/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/133897295/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8581036/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8578723/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8589165/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/54371191/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/125434675/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/147506985/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/19147561/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8544227/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/84989777/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })
    //#end-content-section

    //#content-section
    div(class="content-section")
        include ../blocks/_sections/content-header/content-header
        +content-header({
            location: "#",
            heading: "Stream Beliebteste Filme und SerieTV"
        }, "36.272", true)

        div(class="content-grid")
            include ../blocks/single-item/single-item
            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/127473635/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8582889/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/133897295/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8581036/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8578723/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8589165/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/54371191/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/125434675/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/147506985/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/19147561/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8544227/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/84989777/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/127473635/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8582889/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/133897295/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8581036/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8578723/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8589165/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/125434675/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/147506985/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/19147561/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/8544227/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/84989777/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })

            +single-item({
                location: "#",
                thumbnail: "https://images.justwatch.com/poster/127473635/s332",
                title: "Sword art online",
                views: "1 943",
                rating: "6.3"
            })
    //#end-content-section
