extends ./contains/default

block vars
    - const pageTitle="Главная"
    - const pageName="homepage"

block content
    include ../blocks/_parts/header/header
    include ../blocks/_sections/page-information/page-information
    include ../blocks/_sections/content-filtes/content-filters
    include ../blocks/_sections/hidden-content/hidden-content

    include ../blocks/_sections/content-header/content-header
    +content-header({
        location: "#",
        heading: "Stream Beliebteste Filme und SerieTV"
    }, "36.272", true)
