extends ./contains/default

block vars
    - const pageTitle="Главная"
    - const pageName="homepage"

block content
    include ../blocks/_parts/header/header
    include ../blocks/_sections/page-information/page-information
    include ../blocks/_sections/content-filtes/content-filters
