extends ./contains/default

block vars
    - const pageTitle="Внутренняя"
    - const pageName="category"

block content
    include ../blocks/_parts/header/header
    include ../blocks/_sections/single-hero-carousel/single-hero-carousel
    include ../blocks/_sections/single-content/single-content
    include ../blocks/_parts/footer/footer
