include ../../../core/bemto

+b("nav")(class="navigation")
    +e("ul")(class="list _mobile")
        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Neu

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Beliebt

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Kino

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Watchlist

    +e("ul")(class="list")
        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Apps

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") About us

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Talent

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Press

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") FAQ

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Imprint

        +e("li")(class="wrapper-route")
            +e("a")(href="#" class="route") Privacy policy

