include ../../../core/bemto

+b("section")(class="page-information")
    +e("div")(class="container")

        //#header
        +e("div")(class="header")
            +e("h1")(class="heading") Watchbar Filter Aktiv in der Beliebt-Ansicht
            +e("button")(type="button" class="toggle")
                i(class="icon-arrow-down")
        //#end-header

        //#content
        +e("div")(class="content")
            +e("p")(class="description") Super. Du verwendest gerade mehrere Filter gleichzeitig. Das heißt, du hast z.B. eine Kombination aus verschiedenen Streaming-Anbietern, Genres oder einen Filter auf das Erscheinungsjahr ausgewählt. Über den "Zurücksetzen" Button kannst du mit einem Klick wieder alle Inhalte sehen.
            +e("p")(class="description") Die JustWatch Watchbar merkt sich deine Filter-Einstellungen individuell für die Beliebt-Ansicht, auf der du gerade bist, aber auch für die Neu-Timeline sowie der Suchergebnis-Seite.
            +e("p")(class="description") Neu-Timeline sowie der Suchergebnis-Seite.
            +e("p")(class="description") So kannst du dir JustWatch ganz individuell anpassen und z.B. nur Inhalte deiner Lieblingsprovider anzeigen lassen oder nur Inhalte aus bestimmten Genres oder einem bestimmten Jahr.
            +e("p")(class="description") Super. Du verwendest gerade mehrere Filter gleichzeitig. Das heißt, du hast z.B. eine Kombination aus verschiedenen Streaming-Anbietern, Genres oder einen Filter auf das Erscheinungsjahr ausgewählt. Über den "Zurücksetzen" Button kannst du mit einem Klick wieder alle Inhalte sehen.
            +e("p")(class="description") Die JustWatch Watchbar merkt sich deine Filter-Einstellungen individuell für die Beliebt-Ansicht, auf der du gerade bist, aber auch für die Neu-Timeline sowie der Suchergebnis-Seite.
        //#end-content
